<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <META name="viewport" content="width=device-width, initial-scale=1">
        <title>Validator</title>

        <!-- styles -->
        {% style "/assets/font-awesome/css/font-awesome.min.css" %}
        {% style "/css/screen.css" %}
        {% style "/css/bootstrap.css" %}
        {% style "/css/bootstrap.min.css" %}
        {% style "/css/darkly.css" %}
        </head>
      <body>
        <div class="bs-component">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">Java Validator</a>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li>
                    <a href="/upload">File Upload</a>
                  </li>

                  <li>
                    <a href="/edit_config"><i class="fa fa-cog"></i> Edit Config</a>
                  </li>

                  <li>
                    <a href="#"><i class="fa fa-download"></i> Download Result</a>
                  </li>

                  <li>
                    <a href="/date"><i class="fa fa-info-circle"></i> About</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>

        <div class="bs-component">
          <div class="jumbotron" id="content">
            <p style="color:#999999">

              {% if default %}
              This is a basic validator for java files. <br>
              Only for: <br>
              <li>Name: FileServer</li>
              <li>Type: .java</li>
              <li>Package: var.mom.jms.file </li>
              <li> With entry point: public static void main(String[] args)</li>
              {% endif %}

              {% if date %}
              We have {{date}}
              {% endif %}

              {% if upload %}
            <form class="upload" action="/upload" enctype="multipart/form-data" method="POST">
              {% csrf-field %}
              <div class="pull-left">
                <input style="width:300px" class="form-control" id="fileName" type="text" placeholder="Java File Name..." value="" disabled="">
              </div>

              <label class="btn btn-default btn-file pull-left">
                <i class="fa fa-folder-open-o"></i> Choose File...
                <input style="display:none" id="file" name="file" type="file" onchange="$('#fileName').val($(this).val())">
              </label>

              <button class="btn btn-primary pull-left" style="margin-left: 10px" type="submit" ><i class="fa fa-upload" aria-hidden="true"></i> Upload...</button>
            </form>
            {% endif %}

            {% if edit_config %}
             <form class="upload" action="/save_config" enctype="multipart/form-data" method="POST">
               {% csrf-field %}

              <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <h2>Configuration</h2>
                  <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                </div>

                {% for rule in config.items %}

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <h4>
                    {{ rule.type |remove \":\"}}:
                  </h4>
                  <div id="configInputContainer">

                    {% for field in rule %}
                    {{ field.0}}
                       <input class="form-control input-sm" id="{{field.0}}"
                              name="{{rule.type}}"
                                type="text"
                              value="{{field.1}}"
                              />
                    {% endfor %}
                  </div>
                  <br><br>
                </div>
                {% endfor %}

              </div>

              <button class="btn btn-primary pull-left" type="submit" value="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save...</button>

            </form>


            {% endif %}

            {% if save_file %}
            <b>Config values:</b>
            {% for item in items %}
            <li class="results"> {{item|json|safe}} </li>
            {% endfor %}
            {% endif %}


            {% if validate %}
            <b><i class="fa fa-clipboard"></i> Validation result:</b>

            <div class="col-lg-6 col-md-6 col-xs-6">
              <div class="progress">
                <div class="progress-bar progress-bar-success" style="width:  {{validationPercentage}}%"></div>
              </div>


              <ul>
                {% for item in items %}
                <li style="text-transform:uppercase"> {{item}} </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            </p>
        </div>

        {% script "/assets/tether/dist/js/tether.min.js" %}
        {% script "/assets/jquery/jquery.min.js" %}
        {% script "/assets/bootstrap/js/bootstrap.min.js" %}
      </body>
</html>
