<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Java File Validation</title>

    <!-- styles -->
{% style "/assets/bootstrap/css/bootstrap.min.css" %}
{% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/screen.css" %}
  </head>
  <body>
Validation result:



   <ul>
      {% for item in items %}
        <li> {{item|upper}} </li>
      {% endfor %}
   </ul>


<a class="btn" href="/">back</a>

  </body>
</html>
